# 工作目录，manbot只会在此目录下操作
WORKSPACE_FOLDER=/Users/your_name/workspace
PORT=49527 # 服务端口，默认值为49527

# -------- OPENAI相关配置（当 ANTHROPIC_AUTH_TOKEN 存在时，优先使用 Anthropic 模型）
OPENAI_API_KEY=your-api-key-here
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o

# -------- Anthropic相关配置（当 ANTHROPIC_AUTH_TOKEN 存在时生效）
ANTHROPIC_AUTH_TOKEN=your-anthropic-token-here
ANTHROPIC_BASE_URL=https://api.anthropic.com
ANTHROPIC_MODEL=claude-3-5-sonnet-20241022

OPENAI_TIMEOUT=120000 # 超时时间，默认值为2分钟
OPENAI_TEMPERATURE=0.7 # 温度，默认值为0.7
OPENAI_TOP_P=0.9 # top_p，默认值为0.9


# 单次最大轮数
RECURSION_LIMIT=100
# 消息历史最大长度，超过后会删除最早的消息
MAX_MESSAGES=20


# -------- channels 相关
# 飞书
FEISHU_APP_ID=cli_xxxxx
FEISHU_APP_SECRET=FLyxxxxxxxx
FEISHU_APP_NAME=Manbot # 你的飞书应用名称，用来判断群里是否@它，默认值为Manbot


# -------- Tavily 相关配置
TAVILY_API_KEY=tvly-xxxxxx # 多个使用逗号隔开, 如 tvly-xxxxxx,tvly-xxxxxx 

# -------- MCP 相关配置
# 是否允许终端MCP，开启后ai可直接执行命令，默认值为false，docker中默认为true
TERMINAL_ALLOWED=false

# 是否开启自动工具发现，开启后agent会根据对话内容自动查找工具而不是将所有工具都给大模型，默认值为false
AUTO_TOOL_DISCOVERY=false

# 是否显示思考内容（仅适用于 Anthropic 模型），默认值为 false
SHOW_THINKING=false
