# 工作目录，manbot只会在此目录下操作
WORKSPACE_FOLDER=/Users/your_name/workspace
PORT=49527 # 服务端口，默认值为49527

# -------- OPENAPI相关配置
OPENAI_API_KEY=your-api-key-here
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o

OPENAI_TIMEOUT=120000 # 超时时间，默认值为2分钟
OPENAI_TEMPERATURE=0.7 # 温度，默认值为0.7
OPENAI_TOP_P=0.9 # top_p，默认值为0.9


# 单次最大轮数
RECURSION_LIMIT=100
# 消息历史最大长度，超过后会删除最早的消息
MAX_MESSAGES=20


# -------- channels 相关
# 飞书
FEISHU_APP_ID=cli_xxxxx
FEISHU_APP_SECRET=FLyxxxxxxxx
FEISHU_APP_NAME=Manbot # 你的飞书应用名称，用来判断群里是否@它，默认值为Manbot


# -------- Tavily 相关配置
TAVILY_API_KEY=tvly-xxxxxx # 多个使用逗号隔开, 如 tvly-xxxxxx,tvly-xxxxxx 
 
# -------- MCP 相关配置
# 是否允许终端MCP，开启后ai可直接执行命令，默认值为false，docker中默认为true
TERMINAL_ALLOWED=false
